[package]
name = "list-executables"
version = "0.2.1"
edition = "2021"
license = "GPL-3.0-only"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rayon = "1.5.1"
